.small {
    font-size: small;
}

.medium {
    font-size: medium;
}

.large {
    font-size: large;
}

.text {
    border: 0;
    background:none;
    color: #5a76da;
}

.outlined {
    border: 1px solid #5a76da;
    background:none;
    color: #5a76da;
}

.contained {
    background-color: #5a76da;
    color: white;
    border:0;
}
